@media only screen and (min-width:400px){
	.custom_login_container{
		width:350px;
	}
}

@media only screen and (max-width: 399px) and (min-width: 361px) {
	.custom_login_container{
		width:340px;
	}
}

@media only screen and (max-width: 360px) and (min-width: 300px) {
	.custom_login_container{
		width:280px;
	}
	
	.divider_area img{
		margin-left: 0px;
		width: 107px;
	}
}