@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('fonts/proxima-nova-web-fonts-master/fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot');
    src: url('fonts/proxima-nova-web-fonts-master/fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima-nova-web-fonts-master/fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff2') format('woff2'),
         url('fonts/proxima-nova-web-fonts-master/fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff') format('woff'),
         url('fonts/proxima-nova-web-fonts-master/fonts/Mark Simonson - Proxima Nova Semibold-webfont.ttf') format('truetype'),
         url('fonts/proxima-nova-web-fonts-master/fonts/Mark Simonson - Proxima Nova Semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_altbold';
    src: url('Mark Simonson - Proxima Nova Alt Bold-webfont.eot');
    src: url('Mark Simonson - Proxima Nova Alt Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Mark Simonson - Proxima Nova Alt Bold-webfont.woff2') format('woff2'),
         url('Mark Simonson - Proxima Nova Alt Bold-webfont.woff') format('woff'),
         url('Mark Simonson - Proxima Nova Alt Bold-webfont.ttf') format('truetype'),
         url('Mark Simonson - Proxima Nova Alt Bold-webfont.svg#proxima_nova_altbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
	margin:0;
	padding:0;
}
body{
	background-color:#e3e2fd;
}

.clear{
	clear:both;
}

.container{
	background-color:#FFF;
	margin-top:50px;
	margin-bottom:35px;
}

.login-header h1{
	margin-top:46px;
	font-family: 'proxima_nova_ltsemibold';
	color:#4a4a4a;
	font-size:24px;
	margin-bottom:15px;
}

.social-media-login .btn-default{
	width: 89%;
	height: 55px;
	background-color:#405d9a;
	margin-top:15px;
	font-family: 'proxima_nova_altbold';
	color:#fff;
	font-size:20px;
	font-weight:bold;
	margin-bottom:20px;
}

.social-media-login .btn-default .fa{
	color:#fff;
	font-size: 20px;
	margin-right: 12px;
}

.divider_area p span{
	font-family: 'proxima_nova_ltsemibold';
	color:#b5b5b5;
	font-size:13px;
	padding-left: 10px;
	padding-right: 10px;
}

.login-form{
	margin-top:10px;
}

.login-form .form-group{
	width:89%;
	margin-left:20px;
}

.login-form .form-group input{
	height:48px;
}

.login-form .form-group input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#b5b5b5;
	font-size:13px;
}
.login-form .form-group input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#b5b5b5;
   font-size:13px;
}
.login-form .form-group input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#b5b5b5;
   font-size:13px;
}
.login-form .form-group input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#b5b5b5;
   font-size:13px;
}
.login-form .form-group input::-ms-input-placeholder { /* Microsoft Edge */
   color:#b5b5b5;
   font-size:13px;
}

.login-form .btn-default{
	width: 89%;
	height: 53px;
	color: #fff;
	background-color: #f27242;
	font-family: 'proxima_nova_ltsemibold';
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 40px;
}